body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif!important;
	background-color: #eeeeee !important ;
}
a{
	text-decoration: none;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7,
 .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2,
 .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md,
 .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
 .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12,
 .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto,
 .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5,
 .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
   
    padding-right: 0px;
    padding-left: 0px;
}
.container-fluid{
	padding: 0px;
}
.row{
	margin: 0px;
}


.py-64{
	padding: 64px 0px;
}




/*::::::::::::::::section1 css start here:::::::::::::::::*/
.section1{
	height: 100vh;
	width: 100%;
	position: relative;
	background-image: url(../images/6.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.section1 .heading{
	background-color: #ed145b;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 8px 24px;
	box-shadow: 0px 17px 14px 0px rgba(0,0,0,0.75);
}
.section1 .heading h1{
	margin: 0px;
	color: #fff;
	font-size: 54px;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
}

/*::::::::::::::::section1 css end here:::::::::::::::::*/

/*::::::::::::::::section2 css start here:::::::::::::::::*/
.section2{
	background-color: #fff;
	color: #000;
}
.section2 h3{
	letter-spacing: 2px;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
}
/*::::::::::::::::section2 css end here:::::::::::::::::*/

/*::::::::::::::::section3 css start here:::::::::::::::::*/
.section3{
	
	height: 100vh;
	width: 100%;
	position: relative;
	background-image: url(../images/9.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
/*::::::::::::::::section3 css end here:::::::::::::::::*/

/*::::::::::::::::section4 css start here:::::::::::::::::*/
.section4{
	background-color: #fff;
	color: #000;
}
.section4 h3{
	letter-spacing: 2px;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
}
/*::::::::::::::::section4 css end here:::::::::::::::::*/

/*::::::::::::::::section5 css start here:::::::::::::::::*/
.section5{
	
	height: 50vh;
	width: 100%;
	position: relative;
	background-image: url(../images/10.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
/*::::::::::::::::section5 css end here:::::::::::::::::*/


/*::::::::::::::::section6 css start here:::::::::::::::::*/
.section6{
	background-color: #fff;
	color: #000;
}
.section6 h3{
	letter-spacing: 2px;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
}
/*::::::::::::::::section6 css end here:::::::::::::::::*/

/*::::::::::::::::section7 css start here:::::::::::::::::*/
.section7{
	height: 80vh;
	width: 100%;
	position: relative;
	background-image: url(../images/11.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
/*::::::::::::::::section7 css end here:::::::::::::::::*/


/*::::::::::::::::section8 css start here:::::::::::::::::*/
.section8{
	background-color: #fff;
	color: #000;
}
.section8 h3{
	letter-spacing: 2px;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
}
/*::::::::::::::::section8 css end here:::::::::::::::::*/